<div class="container">
  <div style="display: inline-block; margin-bottom: 15px;"
    class="showinlay animate__animated animate__fadeIn animate__delay-2s"
    data-augmented-ui="tr-2-clip-y bl-round t-clip-x l-rect inlay">
    <span class="seccionP animate__animated animate__fadeIn animate__delay-2s">Proyectos Realizados</span>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 g-3">
    <div class="col " *ngFor="let item of ModelProyectos">
      <div class="card animate__animated animate__fadeIn animate__delay-3s">
        <img [src]="item.img" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Nombre del proyecto : {{item.nombre}}</h5>
          <p class="card-text">{{item.descripcion}}</p>
          <div class="card-footer">
            <p class="card-text" id="txtlenguaje">Hecho en : {{item.lenguaje}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>