.container {
    text-align: center;
}

.seccionP{
    margin: 40px 0px 30px 0px;
    display: block;
    font-size:30px
}
#txtlenguaje{
    font-weight: 700;
}
.showinlay {
  color: #ffffff;
  text-align: center;
  width: 40%;
  height: 100px;
  margin: 0.25rem auto;
  background: rgba(0, 191, 255, 0.489);
  --aug-inlay-all: 7px;
  --aug-l-center: 50%;
  --aug-t-center: 50%;
  vertical-align: top;
}
