.container {
  text-align: center;
}

.conocimiento {
  margin: 30px 0px 30px 0px;
  display: block;
  font-size: 30px
}

.row {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: row;
}

.col {
  height: 400px;
  width: 300px;
}

.reticle {
  --aug-all-width: 250px;
  color: #00bfff;
  --reticle-color: currentColor;
  --reticle-size: calc(var(--aug-all-width) * 0.25);
  --aug-border-bg: radial-gradient(
    circle at top center,
    var(--reticle-color) var(--reticle-size),
    transparent var(--reticle-size)
  ), radial-gradient(
    circle at bottom 13.92% right 6.89%,
    var(--reticle-color) var(--reticle-size),
    transparent var(--reticle-size)
  ), radial-gradient(
    circle at bottom 13.92% left 6.89%,
    var(--reticle-color) var(--reticle-size),
    transparent var(--reticle-size)
  );
  transform-origin: 50% 56%;
  transform: rotateZ(0deg);
  transition: transform 0.75s ease-out, color 0.75s ease-out;
  background: radial-gradient(
    circle at 50% 56%,
    var(--reticle-color) 0.25rem,
    transparent 0.25rem
  );
}
.reticle:hover {
  /* transform: rotateZ(720deg); */
  color: red;
}


#announc3ment{
  --aug-clip-tl1: initial;
    --aug-round-tr1: initial;
    --aug-clip-br1: initial;
    --aug-round-bl1: initial;
    --aug-border: initial;
    --aug-inlay: initial;
    --aug-border-all: 4px;
    --aug-inlay-all: 2px;
    --aug-border-bg: #00bfff;
    --aug-inlay-bg: rgba(0, 0, 0, 0.644);
    --aug-inlay-opacity: 0.95;
    --aug-tl1: 40px;
    --aug-br1: 40px;
    --aug-tr1: 10px;
    --aug-bl1: 10px;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    width: 80%;
    margin: 0.25rem auto;
    font-size: 0.75rem;
}
.card-img-top{
  width: 60%;
}
.showinlay {
  color: #ffffff;
  text-align: center;
  width: 40%;
  height: 100px;
  margin: 0.25rem auto;
  background: rgba(0, 191, 255, 0.489);
  --aug-inlay-all: 7px;
  --aug-l-center: 50%;
  --aug-t-center: 50%;
  vertical-align: top;
}
