<div class="container">
  <div style="display: inline-block;" class="showinlay animate__animated animate__fadeIn animate__delay-2s"
    data-augmented-ui="tr-2-clip-y bl-round t-clip-x l-rect inlay">
    <span class="conocimiento">Mis conocimientos</span>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 g-3" style="margin-top:0">
    <div class="col animate__animated animate__fadeIn animate__delay-3s" *ngFor="let item of conocimiento">
      <div style="width: 18rem;">
        <div data-augmented-ui="all-hexangle-up border" class="reticle" style="margin-left: 20px;">
          <img [src]="item.img" class="card-img-top" alt="..." style="margin-top: 50px;">
        </div>
        <div class="card-body">
          <div id="announc3ment" data-augmented-ui="">
            <p class="card-text">{{item.titulo}}<br>Nivel : {{item.nivel}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>