body{
    background-color: #f1f1f1;
  }
  
.row{
    width: 100%; padding: 5px; padding-left: 5%;
  }
  
  #header .navbar-light .navbar-nav .nav-link:focus,
  #header .navbar-light .navbar-nav .nav-link:hover {
      color: #ef4211;
  }
  #header nav{
    padding: 15px 0px;
  }
  #header .navbar-light .navbar-nav .nav-link {
    color: #5a5a5a;
    font-size: 20px;
  }
  #header {
      border-bottom: 1px solid #ddd;
      background-color: #fff;
      float: left;
      width: 100%;
  }
  #header ul.navbar-nav {
      position: absolute;
      right: 0;
  }
  #header li.nav-item {
      margin: 0px 10px;
  }
  #header .navbar-light .navbar-nav .active>.nav-link, #header .navbar-light .navbar-nav .nav-link.active, #header .navbar-light .navbar-nav .nav-link.show, #header .navbar-light .navbar-nav .show>.nav-link {
      color: #ef4211;
  }
  #header .dropdown-menu.show {
      border: none;
  }
  
  /* TOPBAR */
  .topbar {
      background-color: #020202;
      color: #fff;
      padding: 4px 0px;
  }
  .topbar ul{
    margin: 0px;
    padding: 0px;
  }
  .topbar ul li {
      float: left;
      list-style: none;
      margin: 3px 7px;
      font-size: 15px;
  }
  
  .topbar a {
      color: #fff;
  }
  a :hover{
    text-decoration: none;
    color: #865514;
  }
  
  .topbar ul li i {
      font-size: 18px;
      margin-right: 3px;
  }
  
  .topbar ul li.followus-label {
      font-weight: bold;
  }
  #header .social-icon {
      float: right;
  }
  /* Otros */
  .col-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }
@media (max-width: 377px) {
  .row{
    padding-left:0px;
  }
  .col-10{
    margin-right: 0px;
  }
}
  