<div class="topbar animate__animated animate__fadeInLeft">
  <div class="row">
    <!-- Nombre -->
    <div class="col-10" id="nombre" style="margin: auto;">
      <ul>
        <li><i class="bi bi-person {{A_fadeIn}} animate__delay-1s"></i>Eduardo Sosa Bracco</li>
      </ul>
    </div>
    <!-- Contactos -->
    <div class="col-2" style="margin: auto;">
      <span class="{{A_lightSpeedInLeft}} animate__delay-1s">Contactos</span>
      <a href="https://www.linkedin.com/in/eduardo-ivan-sosa-bracco-a299011b5/" class="{{A_bounceInDown}} animate__delay-2s">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>
</div>
</div>

