<div class="main-image animate__animated animate__fadeIn animate__delay-1s">
  <div class="container">
    <div style="display: inline-block;" class="showinlay" data-augmented-ui="tr-2-clip-y bl-round t-clip-x l-rect inlay">
      <h1 class="animate__animated animate__fadeInLeft animate__delay-2s" style="margin-top: 10px;">
        <span>Bienvenidos a mi portafolio</span>
      </h1>
    </div>
      <span class="cen animate__animated animate__fadeIn animate__delay-3s"> Programer & Developer</span>
  </div>
</div>
