.main-image {
  position: relative;
  background: url(../../../../assets/img/fondo.jpeg) no-repeat center;
  background-size: cover;
  height: 500px;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.container h1 {
  margin: 0;
  font-size: 50px;
}

.container h1 span {
  /* border: 6px solid #fff; */
  padding: 6px 14px;
  display: inline-block;
}

.cen {
  margin: 20px;
  display: block;
  font-size: 24px
}

@media (max-width: 377px) {
  .container h1 span {
    border: 0px;
    padding: 6px 14px;
    display: inline-block;
  }

  .container h1 {
    font-size: 35px;
  }

  .cen {
    margin: 20px;
    display: block;
    font-size: 18px
  }
}

.showinlay {
  color: #ffffff;
  text-align: center;
  width: 70%;
  height: 100px;
  margin: 0.25rem auto;
  background: rgba(0, 191, 255, 0.489);
  --aug-inlay-all: 7px;
  --aug-l-center: 50%;
  --aug-t-center: 50%;
  vertical-align: top;
}