<div class="container">
  <div style="display: inline-block; margin-bottom: 15px;" class="showinlay animate__animated animate__fadeIn animate__delay-2s" data-augmented-ui="tr-2-clip-y bl-round t-clip-x l-rect inlay">
    <span class="seccionP animate__animated animate__fadeIn animate__delay-2s">¿Quién soy yo?</span>
  </div>
  <div class="row">
      <div class="col-6" id="image">
          <img src="/assets/img/perfil.jpg" class="img-fluid animate__animated animate__fadeInLeft animate__delay-3s ">
      </div>
      <div class="col-6 animate__animated animate__fadeIn animate__delay-3s" id="info">
        <div class="Infobox">
          <p style="width: 450px;" >Hola que tal , mi nombre es Eduardo Sosa Bracco ,actualmente tengo 20 años, soy de Ecuador y
            estoy estudiando la carrera de ingenieria en sistemas en la Universidad politecnica salesiana ,
            actualmente trabajo
            me considero un programador capaz de adaptarme a cualquier medio computacional
            , he indagar mas sobre temas que no conozco y aprenderlo y asi dar lo mejor de mi y exponer mis capacidades.
          </p>
        </div>
      </div>
  </div>
</div>
