.container {
    text-align: center;
}
.seccionP{
    margin: 20px 0px 30px 0px;
    display: block;
    font-size:30px
}
/* Colunnas */
#image{
    width: 500px;
    height:400px;
}
#info{
  display: flex;
  width: 600px;
  height: 400px;
  background-image: url(/assets/img/background.png);
  border-radius: 50px;
  color: black;
  display: flex;
  align-items: center;
  /* text-align: end; */
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content:center;
}
/* imgen */
.img-fluid{
    width:395px;
    border-radius:50px;
}
/* Caja de mi informaciones */
.Infobox{
    margin-top: 0px;
}
/* Disenos */

@media (max-width: 576px ){
    #info{
        width: 400px;
        height:300px;
    }
}

@media (max-width: 480px ){
    #info{
        height:450px;
    }
}
@media (max-width: 385px ){
    #info{
        height:450px;
    }
}
@media (max-width: 350px ){

    #info{
        height:450px;
    }
}

.showinlay {
  color: #ffffff;
  text-align: center;
  width: 40%;
  height: 100px;
  margin: 0.25rem auto;
  background: rgba(0, 191, 255, 0.489);
  --aug-inlay-all: 7px;
  --aug-l-center: 50%;
  --aug-t-center: 50%;
  vertical-align: top;
}
