<!-- Header -->
<app-header></app-header>
<!-- Banner -->
<app-banner></app-banner>
<!-- Seccion sobre mi  -->
<app-seccionSobreMi></app-seccionSobreMi>
<br>
<!-- Seccion Conocimientos -->
<app-Miconocimiento></app-Miconocimiento>
<!-- Seccion Proyectos Realizados -->
<app-Poryectos></app-Poryectos>
<!-- footer -->
<app-footer></app-footer>
